---
layout: default
title: kabaehrs Blog
eleventyNavigation:
  title: Home
  url: /index.html
  order: 1
pagination:
  data: collections.posts
  size: 5
  reverse: true
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in pagination.items %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3>
           <a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if 	pagination.previousPageHref %}
      <a href="{{ pagination.previousPageHref }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if pagination.nextPageHref %}
      <a href="{{ pagination.nextPageHref }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>

</div>
