.kabaehr-img {
    max-width: 70% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact-me-box {
    font-size: 14px;
    margin-top: 50px;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    a {
        &.post-link{
            &:hover {
                color: #63E2DD;
                text-decoration: none;
            }
        }
    }

    code {
        font-size: 15px;
    }

    .post {
        a:hover {
            color: #63E2DD;
        }
    }

    h1.postTitle {
        color: #0E8B87 !important;
    }

    twitterwidget {
        margin: 10px auto 10px;
    }

    h2, .h2 {
        font-size: 1.375em; // 1.375x body copy size = 22px
        line-height: 1.13636364; //25px / 22px
    }

    @media (min-width: 43.75em) {
        h2, .h2 {
            font-size: 1.5em; // 1.5x body copy size = 24px
            line-height: 1.25;
        }
    }

    @media (min-width: 56.25em) {
        h2, .h2 {
            font-size: 1.75em; // 1.75x body copy size = 28px
            line-height: 1.25;
        }
    }

    
    h3, .h3 {
        font-size: 1.25em; // 1.125x body copy size = 18px
        line-height: 1.11111111;
    }

    @media (min-width: 43.75em) {
        h3, .h3 {
            line-height: 1.22222222; // 22px / 18px
        }
    }

    .content {
        overflow: hidden;
    }
}